
body{
    margin:0;
    width:100%;
    padding: 0;
    height: 100%;
    background:url(https://upload.wikimedia.org/wikipedia/commons/6/62/Barbieri_-_ViaSophia25668.jpg);
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
}
.login{
  position: fixed;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  background-color: aliceblue;
  text-align: center;
  color: aqua;
  border-radius: 100px;
  padding: 30px;
  font-family: "微軟正黑體",sans-serif;
  width: 400px;
}
.login i{
    font-size: 10px;
    margin: 20px,auto;
}
input[type="text"],[type="password"]{
    font-size: 10px;
    font-family: sans-serif,"微軟正黑體";
    padding: 5px;
    border-radius: 4px;
    margin:0,auto;
    display: block;
    width: 100%;
}
button{
    border: 0;
    padding: 6px,12px;
    font-size: 18px;
    font-family: "微軟正黑體",sans-serif;
    background: #fff;
    color:black
}
@media(max-width: 450px;){
    .login{
        width: 70%;
    }
}
